


.cesium-infoBox  {
  width: 600px;
  height: 480px;
  background: white;
}

.cesium-infoBox-iframe  {
  width: 600px;
  height: 480px;
  background: white;
}

#cesiumContainer  {
  /*max-width: 85%;*/
  /*float: left;*/
  min-width: 85%;
  display: inline-block;
  position: absolute;
}

#form-wrap {
  max-width: 15%;
  float: right;
  margin-right: 5%;
  display: inline-block;
  font-size: 120%;
  list-style: none;
}

#form-wrap ul,
#form-wrap li {
  list-style: none;
}

#form-wrap a {
  text-decoration: none;
  color: green;
}
