.cesium-widget-credits, .cesium-viewer-fullscreenContainer {
  display: none!important;
}

.cesium-infoBox  {
  width: 22em;
  height: 23em;
  background: white;
  text-align: center;
  transform: translate(-67em, 16em);
  box-shadow: none;
}

.cesium-infoBox-iframe  {
  width: 22em;
  height: 25em;
  background: white;
  height: 23em!important;
  box-shadow: 0 0 10px 1px #000;
}

.cesium-infoBox-description {
  color: #001919;
  text-align: center;
}

.cesium-infoBox-description h1 {
  font-size: 135%;
}

.cesium-infoBox-description img {
  height: 20%;
}

#business-details {
  font-size: 112%;
  text-align: left;
  line-height: 1.35;
}

#cesiumContainer  {
  /*max-width: 85%;*/
  /*float: left;*/
  width: 75%;
  display: inline-block;
  position: absolute;
}

#form-wrap {
  width: 25%;
  float: right;
  margin: 1.5%;
  display: inline-block;
  font-size: 120%;
  list-style: none;
}

#form-wrap ul,
#form-wrap li {
  list-style: none;
  font-family: monospace;
}

#categories {
  font-size: 120%;
  text-decoration: underline;
  font-weight: 500;
}

#categories > li > a {
  text-decoration: none!important;
}

#form-wrap li:first-child {
  padding-top: 2%;
}

#form-wrap li {
  padding-left: 5%;
}

#form-wrap a {
  /*text-decoration: none;*/
  font-size: 120%;
  color: #6e6e6e;
  line-height: 1.6;
  letter-spacing: -0.05em;
}

#form-wrap a:hover, #form-wrap a:focus {
  color: #5555ff;
  font-weight: 700;
}

@media screen
  and (max-width: 768px) {
    #cesiumContainer {
      width: 100%;
    }


    .cesium-infoBox {
      transform: translate(-43em, 4em);
      font-size: 60%;
      height: 20em;
      width: 20em;
    }

    .cesium-infoBox-description {
      height: 100%;
      margin: 0;
      font-size: 50%;
    }

    .cesium-infoBox-iframe {
      width: 20em;
    }

    .cesium-infoBox-defaultTable th,
    .cesium-infoBox-defaultTable td {
      font-size: 50%;
    }

  #form-wrap {
      width: 100%;
       float: none;
      position: relative;
      margin: 1.5%;
      top: 36.5em;
      display: inline;
      font-size: 50%;
      list-style: none;
      left: 5em;
  }

  #form-wrap a {
    font-size: 105%;
  }

  #categories {
    display: inline-block;
  }
  #categories span {
    display: none;
  }

  #categories li {
    float:left;
    display:inline;
  }
}

@media screen and (max-width: 1370px)
and (min-width: 768px) {
  #cesiumContainer {
    width: 100%;
    display: block;
  }
  #form-wrap {
    width: 100%;
    display: inline-block;
    transform: translateY(48em);
    font-size: 70%;
  }

  #form-wrap ul, #form-wrap ul li {
    display: inline-block;
  }

  #categories span {
    display: none;
  }
}
