.nav-ui-wrap  {
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
}

.nav-ui-wrap div{
  border: 4px solid #5555ff;
}

#nav-arrows {
  border: none;
  height:8em;
  display: block;
  position: relative;
  margin-top: 25%;
}

#zoom {
  border: none;
  width:2em;
  height:4em;
  display: block;
  left: 35%;
  position: relative;
}

#zoom-in {
  width:2em;
  height:2em;
  background-image: url(../gfx/in.svg);
  background-color: #ffffff;
}

#zoom-out {
  width:2em;
  height:2em;
  margin-top: 10%;
  background-image: url(../gfx/out.svg);
  background-color: #ffffff;
}

#nav-up {
  position: relative;
  margin-bottom: 2.5%;
  width:2em;
  height:2em;
  left: 35%;
  background-image: url(../gfx/up.svg);
  background-color: #ffffff;
}

#nav-left {
  width:2em;
  height:2em;
  display: inline-block;
  background-image: url(../gfx/left.svg);
  background-color: #ffffff;
}
#nav-right {
  width:2em;
  height:2em;
  display: inline-block;
  background-image: url(../gfx/right.svg);
  background-color: #ffffff;
}
#nav-down {
  /*position: relative;
  left: 14.25%;*/
  width:2em;
  height:2em;
  display: inline-block;
  /*margin-top: -1%;*/
  background-image: url(../gfx/down.svg);
  background-color: #ffffff;
}

#nav-up > a, #nav-down > a, #nav-left > a, #nav-right > a {
  min-width: 100%;
  min-height: 100%;
}

#nav-up:hover, #nav-down:hover, #nav-left:hover, #nav-right:hover, #zoom-in:hover, #zoom-out:hover,
#nav-up:focus, #nav-down:focus, #nav-left:focus, #nav-right:focus, #zoom-in:focus, #zoom-out:focus {
  /*opacity: 0.3;*/
  background-color: #5555ff;
}

#nav-reset {
  width: 3em;
  height: 2.5em;
  display: inline-block;
  position: relative;
  margin-left: 27%;
  background-color: #ffffff;
  background-image: url(../gfx/reset.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 67%;
}

#nav-reset:hover, #nav-reset:focus {
  /*opacity: 0.3;*/
  background-color: #5555ff;
}

#legend {
  transform: translateY(50.5em);
  margin-left: 2%;
}

#legend-pre {
  display: inline-block;
  float: left;
}

#legend-group {
  display: inline;
}

#legend-group div > div.colour-block {
  font-size: 1.5em;
  font-weight: 700;
  width: 25em;
  height: 2em;
  margin-top: 2%;
  border: 1px solid black;
  text-align: center;
  line-height: 2em;
  vertical-align: middle;
}

#legend-group div.legend-row-left {
  float: left;
  max-width: 50%;
  display: inline;
  margin-left: 3%;
}

#legend-group div.legend-row-right {
  float: right;
  max-width: 50%;
  display: inline;
  margin-right: 3%;

}

#legend-group div.legend-text {
  display: inline;
  width: 10em;
  line-height: 2em;
  font-size: 1.4em;
  vertical-align: middle;
}
