
@import 'stylesheet-global';

.closemenu {
	position: relative;

	span {
		position: absolute;
		top: 7px;
		right: 25px;
		display: none;
		color: $grey-dk;
		letter-spacing: 3px;
	}
	img.icon {
		width: 15px;
		height: 15px;
	}
}

.map-container {
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
	position: relative;
	width: 100%;
	height: 95vh;
	min-height: 460px;
}

.map-sidebar {
	z-index: 1;
	position: absolute;
	right: 0;
	width: 20%;
	min-width: 200px;
	height: 95vh;
	border-left: 1px solid $grey-lt;
	background-color: $white;
	ul {
		padding: 10px;
		overflow-y: scroll;
		height: 70%;
	}
	ul li button {
		font-size: $reg-size;
		font-weight: $bold;
	}
}
.map-sidebar-search {
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	form {
		width: 100%;
		border-top: 1px solid $grey-dk;

		label {
			display: none;
		}

		input[type='text'] {
			width: 100%;
			border-bottom: 1px solid $grey-dk;
			padding-left: 10px;
		}
		input[type='image'] {
			position: absolute;
			right: 4px;
			top: 4px;
			width: 18px;
			height: 18px;
		}
	}
}

.map-main {
	overflow: hidden;
	height: 100%;
	width: 100%;
	> img {
		height: 100%;
		width: auto;
		margin-left: -100px;
	}
}

.map-controls, .map-navigate, .map-legend {
	margin-top: 10px;
}

.map-controls {
	position: absolute;
	left: 0;
	text-align: center;
	width: 100px;
	overflow: visible;

	button {
		width: 24px;
		height: 24px;
		margin: 1px;

		&:not(.legend), &:not(.closelegend) {
			border: 1px solid $grey-dk;
			&:hover, &:focus {
				background-color: $grey-dk;
				color: $white;
				border: 1px solid $black;
			}
			&:active {
				background-color: $black;
			}
		}
	}
}

.map-navigate {
//	margin-top: 10px;
//	margin-bottom: 10px;
}

.map-legend {
	position: relative;
	button.legend {
		background-color: $black;
		color: $white;

		&:hover, &:focus {
			background-color: $grey-dk;
			border: 1px solid $black;
		}
	}
}
.map-legend-info {
	position: absolute;
	top: 0;
	left: 0;
	height: 220px;
	background-color: $white;
	width: 240px;
	text-align: left;
	padding: 10px;

	.icon {
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}

	.legend-title {
		@extend .smallcaps;
		@include shadow-bottom;

		position: relative;
		margin-left: -10px;
		padding-left: 10px;

		height: 30px;
		width: 90px;
		line-height: 32px;

		letter-spacing: 3px;

		background-color: $black;
		color: $white;

		&:after {
			position: absolute;
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: ' ';
			pointer-events: none;
			height: 0;
			width: 0;
			border-color: rgba(105, 192, 186, 0);
			border-width: 15px;
			border-left: 10px solid $black;
			margin-top: -15px;
		}
	}

	.closelegend {
		position: absolute;
		right: 5px;
		top: 5px;

		.closemenu {
			border: 0;

			&:hover, &:focus {
				border: 0;
				background-color: transparent;
				color: $black;
			}

		}
	}

	.legend-row {
		font-size: $small;
		margin-top: 10px;

		div {
			margin-left: 5px;
			display: inline;
		}
	}

	.legend-controls {
		font-size: $small;
		margin: 20px 0 10px 0;
		padding: 20px 0;
		border-top: 1px solid black;
		height: 100px;
		text-align: center;

		.legend-control-icon {
			display: inline;
			vertical-align: middle;


			&:first-of-type{
				width: 20px;
				height: 41px;
			}
			&:nth-of-type(2) {
				width: 61px;
				height: 41px;
			}
		}
		div {
			display: inline;
			margin-left: 5px;
			margin-right: 10px;

		}
	}

}

.map-main {
	z-index: 1;
	// position: absolute;
}

.map-info {
	z-index: 2;
	@include shadow-std;
	display: none;
	> div { display: none; }

	position: absolute;
	bottom: 0;
	left: 0;
	height: 240px;
	background-color: $white;
	width: 260px;

	> div:not(.event) {
		margin-left: 40px;
		margin-right: 20px;
	}

	.closeinfo {
		position: absolute;
		top: 8px;
		right: -13px;

		> button > span	{
			margin-top: -3px;
			margin-right: -5px;
		}
	}

	.smallcaps { margin-top: 30px;}
	.readmore {
		margin-top: 20px;
		float: right;
	}
}
.map-info-pointer {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 3px;
	top: 25px;
}
.storename {
	@extend h3;
}
.storeinfo {
	margin-top: 20px;
	.storeinfo-row {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
		height: 20px;
	}
}
.event {
	position: absolute;
	background-color: #333333;

	height: 40px;
	width: 100%;
	left: 0;
	bottom: 0;

	.icon {
		position: absolute;
		width: 20px;
		height: 20px;
		left: 15px;
		top: 10px;

	}
	.readmore {
		display: inline;
		line-height: 5px;
		margin-right: 20px;
		> a{
			color: $white;
		}
	}

	&:before {
		position: absolute;
		top: -6px;
		left: 0;
		content: ' ';
		height: 6px;
		width: 100%;
		background-image: url(../img/bg-grill.svg);
		background-size: 60%;
	}
}

// TEST ELEMENTS
.TESTbuilding {
	position: absolute;

	height: 40px;
	background-color: black;
	color: white;
	bottom: 100px;
}
#building1 { left: 300px; }
#building2 { left: 400px; }


// RESPONSIVE

// At first mobile break point, the sidebar moves above the map so it's out of the way.
@media all and (max-width: $width-phone-landscape) {

	.map-sidebar {
		position: relative;
		height: 200px;
		width: 100%;


		ul {
			width: 180px;
			height: 180px;

		}
	}

	.map-sidebar-search {
		width: calc(100% - 200px);
		height: auto;
		position: absolute;

		bottom: auto;
		top: 0;
		right: 0;

		form { border-top: 0; }
	}
}

// At smaller screens, the .map-info block is made the full width of the screen and some elements are hidden
@media all and (max-width: $width-phone) {
	.map-info {
		width: 100%;
		height: 120px;


		.smallcaps {margin-top: 20px;}
		.readmore { margin-top: 0; }
	}
	.map-info-pointer {
		top: 15px;
	}
	.storeinfo {
		margin-top: 0;
		> .storeinfo-row:nth-child(n+2) { display: none; }
	}
	.event {
		height: 24px;
		.icon {
			height: 15px;
			width: 15px;
			top: 5px;

		}
		.readmore {
			line-height: 26px;
		}

		&:before {
			height: 3px;
			top: -3px;
			background-size: 40%;
		}
	}
}
